SECRET_KEY = 'django-insecure-ilvx9#+6xiqzzixowo+tcf%nx*m165!!4@558sr7mi$qt3d9(s'

DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

# DISCORD_BOT_TOKEN='MTUyMjk1NzU4OTIxNzAyMjA3Mw.GoQdW2.zGCawcGSR9IrYukTxxUUou5Z24q6c46NRJEB9k'

API_BASE_URL=http://127.0.0.1:8000